body {
width: 600px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

#huvud {
   height: 110px;
   background-color: #faf1d7;
   font-size: 30px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-top: 25px;
   border-radius: 2px;
   color: #6a430596;
   margin-top: -1px;
 }
  
 #undertext {
   font-size: 25px;
   padding-top: 20px;
   display: block;
 }

 #navigation {
   border-bottom: 1px solid lightgray;
   padding-bottom: 10px;
 }
 
  
 .link {
   padding: 10px 25px;
  text-decoration-style: dotted;   color: black;
 }

 h3 {
   font-size: 25px;
 }

 #katt {
   background-image: url(katt.jpg);
   height: 300px;
   width: 300px;
   background-size: cover;
   border-radius: 50%;
   background-position: center;
   margin-left: 140px;
   border-bottom: 2px solid black;
   border-top:1px solid black ;
   border-right: 1px solid black ;
   border-left: 1px solid black;
 }

 h5 {
   text-align: start;
   font-size: 18px;
 }
  
 #text {
   text-align: start;
   font-size: 16px;
 }

 #kattlopedia {
   font-size: 15px;
   padding: 15px;
 }
  
 
 
 
 